.company__text {
  max-width: 880px;
  margin-bottom: 60px;
}
.company__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.company__address,
.company__img {
  width: 49%;
}
.company__block {
  margin-bottom: 40px;
  
  .title-2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  a {
    text-decoration: none;
    
    &:hover,
    &:active {
      color: @violet;
    }
  }
}