@media(max-width: 1200px) {
  .page404 {
    padding-top: 50px;
  }
}
@media(max-width: 1000px) {
  .page404__wrap {
    display: block;
  }
  .page404__img {
    width: 200px;
    height: 200px;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .page404__text {
    width: 100%;
    text-align: center;
  }
  .page404 {
    padding-bottom: 50px;
  }
}
@media(max-width: 480px) {
  .page404__title {
    font-size: 26px;
  }
}