@media (max-width: 1800px) {
  .clients__wrap::after {
    left: 110%;
  }
}
@media (max-width: 1700px) {
  .rate__column .title-2 {
    margin-right: 0;
  }
  .audit::before {
    left: 70%;
  }
}
@media (max-width: 1550px) {
  .promo__title {
    font-size: 48px;
  }
  .promo__subtitle {
    font-size: 32px;
  }
  .details {
    overflow: hidden;
  }
  .audit::before {
    left: 76%;
  }
  .details__list {
    height: 640px;
  }
  .reason__item {
    width: 48%;
  }
  .reason__item .title-2 {
    font-size: 20px;
  }
}
@media (max-width: 1380px) {
  .promo__btn,
  .menu {
    width: 280px;
  }
  .wrapper {
    max-width: ~"calc(100% - 280px)";
    margin-left: 280px;
  }
  .promo {
    margin-left: 280px;
  }
  .promo__wrap {
    width: 700px;
    margin-left: 60px;
  }
  .promo__title {
    font-size: 38px;
  }
  .promo__subtitle {
    font-size: 24px;
    max-width: 500px;
  }
  .logo img {
    max-width: 90%;
  }
  .contacts__link {
    margin-bottom: 10px;
  }
  .contacts__link--mail,
  .contacts__link--phone {
    font-size: 16px;
  }
  .nav__link,
  .btn {
    height: 70px;
    font-size: 18px;
  }
  .nav__link--active,
  .nav__link:active,
  .nav__link:hover {
    height: 80px;
  }
  .nav__link {
    min-width: 260px;
  }
  .subtitle {
    font-size: 16px;
    padding-left: 20px;
    
    &::before {
      width: 20px;
      height: 20px;
    }
  }
  .title {
    font-size: 36px;
  }
  .reason__item::before {
    width: 60px;
    height: 60px;
    top: 20px;
  }
  .reason__item {
    padding-top: 110px;
  }
  .feedback .wrapper::before {
    width: 200px;
    height: 200px;
  }
  .tariff__price,
  .tariff__title {
    font-size: 24px;
  }
  .tariff__price span {
    font-size: 40px;
  }
  .tariff__wrap ul {
    font-size: 18px;
  }
  .tariff .title-2 {
    font-size: 20px;
  }
  .audit__wrap {
    padding-left: 10px;
    max-width: 650px;
  }
  .audit::before {
    left: 67%;
  }
  .risk__item {
    padding: 30px;
  }
  .risk__item:nth-child(3),
  .risk__item:first-child {
    padding-right: 100px;
  }
  .risk__item:nth-child(4),
  .risk__item:nth-child(2) {
    padding-left: 100px;
  }
  .risk__img {
    width: 260px;
  }
  .risk__item:first-child, 
  .risk__item:nth-child(2) {
    margin-bottom: 75px;
  }
  .risk__item::before {
    width: 150px;
    height: 150px;
  }
  .clients__wrap::after {
    display: none;
  }
  .review__slider {
    margin-left: 380px;
  }
  .order__form {
    padding: 30px 40px;
  }
  .faq__img {
    right: -150px;
    top: -133px;
    opacity: 0.05;
    left: auto;
    z-index: -1;
  }
  .service__list li,
  .case__info,
  .call__info {
    font-size: 18px;
  }
  .call__phone {
    font-size: 36px;
  }
  .footer {
    font-size: 14px;
  }
  .nav__link--active,
  .nav__link:active,
  .nav__link:hover {
    font-size: 20px;
  }
}