.order__columns {
  display: flex;
  justify-content: space-between;
  
  .title-2 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0;
  }
}
.order__column {
  width: 57%;
  padding-top: 40px;
  
  ul {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
.order__form {
  width: 42%;
  padding: 40px 80px;
  background-color: @light;
}
.order__btn {
  width: 100%;
  height: 60px;
  font-size: 18px;
}