.promo {
  margin-left: 360px;
  margin-bottom: 0;
}
.promo__slider {
  position: relative;
  
  .owl-dots {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    
    .owl-dot span {
      width: 15px;
      height: 15px;
      opacity: 1;
      border: 1px solid #fff;
      background-color: rgba(255,255,255,0);
    }
    .owl-dot.active span {
      background-color: #fff;
    }
    .owl-dot:hover span,
    .owl-dot:active span {
      background-color: rgba(255,255,255,0);
    }
  }
}
.promo__slide {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0));
  }
}
.promo__wrap {
  position: relative;
  z-index: 5;
  height: 100%;
  width: 980px;
  max-width: 100%;
  margin-left: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
}
.promo__title {
  margin-top: 0;
  margin-bottom: 80px;
  font-size: 60px;
  font-weight: 500;
}
.promo__subtitle {
  margin-top: 0;
  margin-bottom: 130px;
  font-size: 36px;
  max-width: 700px;
}
.promo__btn {
  width: 360px;
}