.rate {
  margin-bottom: 100px;
}
.rate__columns {
  display: flex;
  justify-content: space-between;
}
.rate__column {
  width: 49%;
  
  .title-2 {
    margin-right: -50px;
    margin-bottom: 40px;
  }
  ul {
    padding-left: 15px;
  }
}
.rate__comment {
  font-size: 16px;
  line-height: 1.5;
  margin-left: -100px;
  margin-top: 40px;
}