.top {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  margin-bottom: 50px;
  padding-left: 105px;
  background-image: url(../img/images/bg-clients.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &--company {
    background-image: url(../img/images/bg-company.jpg);
  }
  &--about {
    background-image: url(../img/images/bg-about.jpg);
  }
}